// Sidebar Component Styles
// Using Tailwind CSS for all styling - minimal custom SCSS needed

:host {
  display: block;
}

// Custom scrollbar styling (Tailwind scrollbar plugin classes apply here)
nav {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(168, 179, 207, 0.2);
    border-radius: 3px;

    &:hover {
      background: rgba(168, 179, 207, 0.3);
    }
  }
}
