<!-- Tap on Top (Scroll to top button) -->
<div class="tap-top"><i data-feather="chevrons-up"></i></div>

<!-- Page Wrapper -->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header (Top Navigation) -->
  <app-header></app-header>

  <!-- Page Body Start -->
  <div class="page-body-wrapper">
    <!-- Page Sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Page Body -->
    <div class="page-body">
      <!-- Main Content Area -->
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
  </div>
  <!-- Page Body End -->
</div>
